html{
    background-color: black;
}
.flag{
    position: relative;
    left: 35%;
    top: 150px;
    height: 350px;
    width: 500px;
    background-color:white;
    border: 3px solid black;
}

.circle{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    left: 150px;
    top: 70px;
}